body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.logo-img {
  max-width: 100px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.heading {
  font-size: 3em;

  margin: 20px 0 10px 0;
  color: #222;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 30px;
}

.store-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 20px;
}

.store-list li {
  margin-bottom: 10px;
  font-size: 1.1em;
}
